<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manberry</title>
    <link rel="shortcut icon" href="./icons/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <header>
      <img src="./icons/favicon.png" alt="Manberry Logo" />
      <h1>Manberry</h1>
      <nav>
        <ul>
          <li><a id="nav-home" href="index.html">Home</a></li>
          <li><a href="#fruits">Fruits</a></li>
          <li><a href="#seasonal-fruit">Seasonal Fruit</a></li>
          <li><a href="#organic-fruit">Organic Fruit</a></li>
          <li><a href="#form-contact">Contact</a></li>
        </ul>
      </nav>
      <input class="searchbox" type="search" placeholder="Search" />
    </header>
    <main>
      <article class="banner">
        <div class="content-banner">
          <h3>Buy Jocotes Now</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
            omnis, maiores quaerat aperiam deleniti eveniet architecto voluptate
            labore incidunt asperiores possimus ad reiciendis quibusdam at earum
            perferendis rem inventore! Voluptate.
          </p>
          <p class="price-banner">₡2000 / Kg</p>
          <button class="btn-pink" href="./">Buy Now</button>
        </div>
        <img src="./img/jocotes.jpg" alt="Jocotes" />
      </article>

      <section id="fruits" class="fruits-section">
        <h2>Fruits</h2>
        <article class="card-product">
          <img src="./img/mango.png" alt="Mango" />
          <div class="card-info">
            <h3>Mango</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p class="price-card">₡1500 / Kg</p>
            <button class="btn-card">Buy Now</button>
          </div>
        </article>
        <article class="card-product">
          <img src="./img/pear.png" alt="Pear" />
          <div class="card-info">
            <h3>Pear</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p class="price-card">₡1000 / Kg</p>
            <button class="btn-card">Buy Now</button>
          </div>
        </article>
        <article class="card-product">
          <img src="./img/apple.png" alt="Apple" />
          <div class="card-info">
            <h3>Apple</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p class="price-card">₡800 / Kg</p>
            <button class="btn-card">Buy Now</button>
          </div>
        </article>
      </section>

      <section id="seasonal-fruit" class="fruits-section">
        <h2>Seasonal Fruit</h2>
        <article class="card-product">
          <img src="./img/mangostan.png" alt="Mangostan" />
          <div class="card-info">
            <h3>Mangostan</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p class="price-card">₡2500 / Kg</p>
            <button class="btn-card">Buy Now</button>
          </div>
        </article>
        <article class="card-product">
          <img src="./img/mamon.png" alt="Rambutan" />
          <div class="card-info">
            <h3>Rambutan</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p class="price-card">₡2000 / Kg</p>
            <button class="btn-card">Buy Now</button>
          </div>
        </article>
        <article class="card-product">
          <img src="./img/star-fruit.png" alt="Star Fruit" />
          <div class="card-info">
            <h3>Star Fruit</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p class="price-card">₡1200 / Kg</p>
            <button class="btn-card">Buy Now</button>
          </div>
        </article>
      </section>

      <section id="organic-fruit" class="fruits-section">
        <h2>Organic Fruit</h2>
        <article class="card-product">
          <img src="./img/lettuce.png" alt="Lettuce" />
          <div class="card-info">
            <h3>Lettuce</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p class="price-card">₡1000</p>
            <button class="btn-card">Buy Now</button>
          </div>
        </article>
        <article class="card-product">
          <img src="./img/pineaple.png" alt="Pineapple" />
          <div class="card-info">
            <h3>Pineapple</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p class="price-card">₡2000</p>
            <button class="btn-card">Buy Now</button>
          </div>
        </article>
        <article class="card-product">
          <img src="./img/orange.png" alt="Orange" />
          <div class="card-info">
            <h3>Orange</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p class="price-card">₡1000 / Kg</p>
            <button class="btn-card">Buy Now</button>
          </div>
        </article>
      </section>
    </main>
    <footer>
    <div class="form-conteiner">

      <form action="" id="form-contact">
          <h2>LET'S STAY IN TOUCH</h2>
          <p>Get updated on sales special and more</p>
          <label for="email">Entre your email</label>
          <input
            class="email-input"
            id="email"
            type="email"
            placeholder="Ej: email@example.com"
            required
          />
          <input class="btn-pink" type="submit" value="Send" />
      </form>
    </div>

      <p id="copyright">&copy; 2026 Manberr Commerce.All rights reserved.</p>
    </footer>
  </body>
</html>
