/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

/* My fonts */
@font-face {
  font-family: 'Degular Display'; 
  src: url('./fonts/fonnts.com-DegularDemo-Medium.otf') format('woff2'), 
       url('./fonts/fonnts.com-DegularDemo-Bold.otf') format('woff'); 
  font-weight: normal; 
  font-style: normal;
}

/* Blog styles */

* {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: #4d4c4b;
}

html, body{
    width: 100%;
    height: 100%;
}


main, #head-post, #post-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    width: 20px;
    margin: 0 5px;
    filter: brightness(0) saturate(100%) invert(51%) sepia(14%) saturate(69%) hue-rotate(30deg) brightness(98%) contrast(94%);
}


.promo-card {
    float: right;
    width: 280px;
    background: #ffc477;
    padding: 1.2rem;
    border-radius: 6px;
    margin: 0 0 1rem 1rem; 
    text-align: center;
}

.promo-card > p {
    font-size: 1.2em;
    font-weight: 700;
    color: #2d2e2e;
}

.promo-card > input {
    margin-top: 1rem;
    background-color: #2d2e2e;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    padding: 1rem;
}
.author-info{
    font-size: 0.8rem;
}

.social-links {
    display: flex;
    justify-content: center;
}


#title-post {
    font-family: "Degular Display", "Inter";
    font-size: 2.6rem;
    font-weight: 800;
    color: #2d2e2e;
}

#subtitle-post {
    font-size: 1.4rem;
    color: #4d4c4b;
}

#head-post > *, #post-content > * {
    margin-top: 1em;
}

#head-post {
    width: 80%;
    text-align: center;
}

#post-content{
    width: 78%;
    text-align: justify;
    
}


#twitter-icon:hover {
    filter: brightness(0) saturate(100%);
}

#linkedin-icon:hover {
    filter: brightness(0) saturate(100%) invert(31%) sepia(61%) saturate(1367%) hue-rotate(171deg) brightness(99%) contrast(104%);
}

#reddit-icon:hover {
filter: brightness(0) saturate(100%) invert(27%) sepia(68%) saturate(2998%) hue-rotate(3deg) brightness(107%) contrast(102%);
}


@media (min-width: 360px) {
    #head-post {
        width: 60%;
    }

    #post-content {
        width: 58%;
    }
}

@media (min-width: 660px) {
    #head-post {
        width: 70%;
    }

    #post-content {
        width: 68%;
    }
}

@media (min-width: 800px) {
    #head-post {
        width: 60%;
    }

    #post-content {
        width: 58%;
    }
}

@media (min-width: 1200px) {
    #head-post {
        width: 40%;
    }

    #post-content {
        width: 38%;
    }
}