/* Gobal styles */
html,
body {
    width: 100vw;
    height: 100vh;
}

/* login & sign up styles */
.img-container-aside,
.img-aside {
    width: 100%;
    height: 100%;
}

.img-aside {
    object-fit: cover;
    object-position: right;
}

#login,
#sign-up {
    width: 100%;
    height: 100%;
    display: flex;
}

#login>main,
#sign-up>main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    min-width: 30%;
    padding: 2rem;
}

#form-login,
#form-signup {
    display: grid;
    gap: 1rem;
}

.btn-submit {
    margin-top: 1rem;
}

/*Sign up style*/

#signup-bg-img {
    object-position: center;

}

#fullname {
    display: flex;
    gap: 0.5rem;
}

#fullname>input {
    flex: 1;
    width: 40%;
}
