/* Gobal styles */
html,
body {
    width: 100%;
    min-height: 100vh;
}

/* login & sign up styles */
.img-container-aside,
.img-aside {
    width: 100%;
    min-height: 100%;
}

.img-aside {
    object-fit: cover;
    object-position: right;
}

#to-do-list-body{
    padding: 1rem;
}

#login,
#sign-up {
    width: 100%;
    height: 100%;
    display: flex;
}

#login>main,
#sign-up>main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    min-width: 30%;
    padding: 2rem;
}

#form-login,
#form-signup {
    display: grid;
    gap: 1rem;
}

.btn-submit {
    margin-top: 1rem;
}

/*Sign up style*/

#signup-bg-img {
    object-position: center;

}

#fullname {
    display: flex;
    gap: 0.5rem;
}

#fullname>input {
    flex: 1;
    width: 40%;
}

.terms_conditions-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/*About style*/

body.about {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

#header-about {
    text-align: center;
    min-height: 10vh;
    padding: 1rem;
}

#about-container {
    margin: 1rem auto;
    max-width: 900px;
    padding: 0 1.5rem;
}

#about-container>section {
    margin-top: 1rem;
}

#about-footer {
    display: grid;
    text-align: center;
    min-height: 8vh;
    padding: 1rem;
}

/*To Do List styles*/

#to-do-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  padding: 1rem;
  margin: 0 auto;
}

#to-do-main{
    display: grid;
    gap: 1.5rem;
    max-width: 1200px;
    margin: 1rem auto;
    padding: 2rem;
}

#btn-filters{
    display: flex;
    gap: 1.5rem;
}

#sumary-task, #create-task-container{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.2rem;
    gap: 1rem;
}

#task-container {
  display: grid;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

#name-log-container{
    display: flex;
    align-items: center;
    gap: 0.;
}