*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}


* {
    font-family: Arial, Helvetica, sans-serif;
}

body,
html {
    background-color: #4761f9;
    width: 100%;
    height: 100%;

}

body,
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;

}


.form-container {
    background-color: #ffffff;
    width: 25%;
    height: 65%;
    padding: 1rem;
    border-radius: 10px;
}



.form-input {
    background-color: #f2f7fb;
    border: none;
    border-radius: 5px;
    margin: 0.5em 0;
    padding: 0.8em;
    width: 100%;
    height: 40%;
}

.form-input::placeholder {
    color: #adacac;
    font-size: 0.8rem;
    padding: 0.2rem;
}


.form-container form {
    width: 80%;
}

.form-submit {
    margin-bottom: 2rem;
    font-size: 0.8rem;
    padding: 0.9rem;
    background-color: #4761f9;
    color: #ffffff;
    width: 50%;
}

.form-input:active,
.form-input:focus {
    outline: 2px solid #4761f9;
    ;
}


#form-title {
    font-size: 1.5rem;
    font-weight: bolder;
}

#form-subtitle {
    font-size: 0.8rem;
    color: #919191;
    margin-top: 1.2rem;

}

#form-textarea {
    min-height: 4rem;
    max-height: 6rem;
    resize: vertical;

}

#hyphen {
    border: 2px solid #4761f9;
    border-radius: 4px;
    width: 6%;
    margin: 2rem 0 1rem 0;
}